$purple-dark: #60378b;
$purple: #aa93ff;
$purple-shadow: #9f85ff;
$purple-light: #bba8ff;
$purple-lighter: #e3d2ff;

$sage-green: #d9d4a7;

$gray-light: #f0f0ea;
$gray: #dedede;
$gray-basic: #606060;

$gray-dark: #9c9c9c;

$white: #fff;
$black: #21093a;

$background-primary: $white;

$text-gray: $gray-basic;

$alert: #eb5757;
